@import '../colors';

.banner-top {
  .text-area {
    z-index: 2;

    h1 {
      font-weight: bold;
      color: $text-color-for-text-area;
    }

    .content-area {
      p {
        color: $text-color-for-text-area;
      }

      button.w-100 {
        color: white;
        font-weight: bold;
        background: $big-get-page-button-bc;
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
        border: none;
        padding: 15px 0;
      }

      button.w-100:active {
        border: white 1px solid;
        padding: 14px 0;
      }

      button.w-100:hover {
        background: $big-get-page-button-bc-hover;
      }

      .social-media-create-account {
        button {
          background-color: white;
          font-size: 0.9rem;
        }
      }
    }
  }

  .image-area {
    margin-top: 550px;

    .profile-1 {
      box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
      width: 220px;
      height: 325px;
      position: absolute;
      right: 800px;
      
      button {
        position: relative;
        left: 33px;
        bottom: 65px;
        opacity: initial;
        font-weight: bold;
      }
    }
    
    .profile-2 {
      box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
      width: 300px;
      height: 450px;
      position: absolute;
      right: 525px;
      z-index: 1;

      button {
        position: relative;
        left: 65px;
        bottom: 65px;
        opacity: initial;
        font-weight: bold;
      }
    }   
    
    .profile-3 {
      box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
      width: 400px;
      height: 550px;
      position: absolute;
      right: 150px;
      overflow: hidden;

      button {
        position: relative;
        left: 163px;
        bottom: 65px;
        opacity: initial;
        font-weight: bold;
      }
    }
  }
}