@import '../colors';

main {
  .margin {
    .gradient-scope {
      height: 725px;
      width: 100%;
      margin-top: 200px;

      .example-pages {
        .mobile {
          position: relative;
          bottom: 75px;
          left: 35px;
          height: 470px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          overflow: hidden;
          z-index: 1;

          div {
            img {
              border-top-left-radius: 25px;
              border-top-right-radius: 25px;
            }
          }
        
          .mobile-people-info {
            background-color: white;
            width: 100%;
            height: 250px;
            width: 275px;
            position: relative;
            bottom: 100px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            box-shadow: 0px 20px 35px 52px #000000;

            div {
              p.name {
                position: relative;
                bottom: 45px;
                text-align: center;
                color: white;
                font-size: 0.9rem;
              }

              p.profession {
                position: relative;
                bottom: 48px;
                text-align: center;
                color: white;
                font-size: 0.7rem;
              }

              button {
                opacity: initial;
                font-size: 0.7rem;
                font-weight: bold;
                color: white;
                background-color: #3e9fb1;
                border-radius: 0;
                position: relative;
                bottom: 50px;
              }

              p {
                font-size: 0.7rem;
                color: rgb(59, 59, 59);
                margin-bottom: 0;
                position: relative;
                bottom: 50px;
              }

              div {
                div {
                  .label {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: rgb(175, 175, 175);
                    position: relative;
                    bottom: 50px;
                  }
                }
              }

              div.mt-2 {
                position: relative;
                bottom: 50px;
              }
            }
          }
        }

        .desktop {
          position: relative;
          bottom: 150px;
          right: 40px;
          height: 550px;
          box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
          border-radius: 25px;

          div {
            img {
              border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
            }
          }

          .desk-people-info {
            background-color: white;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            width: 300px;
            height: 100%;
            position: relative;

            div {
              p.name {
                font-size: 0.8rem;
              }

              p {
                font-size: 0.7rem;
                color: rgb(59, 59, 59);
                margin-bottom: 0;
              }

              button {
                opacity: initial;
                font-size: 0.7rem;
                font-weight: bold;
                color: white;
                background-color: #3e9fb1;
                border-radius: 0;
              }

              div {
                div {
                  .label {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: rgb(175, 175, 175);
                  }
                }
              }
            }
          }
        }
      }

      .bottom-register {
        position: relative;
        bottom: 100px;

        h2 {
          color: $text-color-for-text-area;
          text-align: center;
          font-size: 1.6rem;
          font-weight: bold;
        }

        button,
        div {
          width: 325px;
        }
      }
    }
  }
}