@import '../variables';

main {
  .margin {
    .features {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1400px;

      .feature {
        width: 275px;
        display: flex;
        flex-direction: column;
      }

      .description {
        position: relative;
        bottom: 25px;
      }

      .feature-title {
        text-align: center;
      }

      .feature-1 {
        button {
          border: 2px solid rgb(206, 206, 206);
          color: rgb(177, 177, 177);
          opacity: initial;
          
          p {
            color: rgb(48, 107, 156)
          }
        }

        p {
          color: $light-text-color;
          text-align: center;
          margin-bottom: 0;
        }
      }

      .feature-2 {
        align-items: center;

        button {
          opacity: initial;
          color: white;
          background: linear-gradient(180deg,#45b3d8,#277db6);
        }

        p {
          color: $light-text-color;
          text-align: center;
          margin-bottom: 0;
        }
      }
      
      .feature-3 {
        align-items: center;

        .description {
          bottom: 10px;

          p {
            color: $light-text-color;
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }

    .examples-link {
      color: $examples-link-color;
      font-size: 1.3rem;
      padding: 0;
      text-decoration: none;
      padding-bottom: 1px;
    }

    .examples-link:hover {
      border-bottom: $examples-link-color solid 1px;
      padding-bottom: 0px;
    }
  }
}
