@import './header';
@import './banner-top';
@import './features';
@import './example-pages';
@import './footer';

ul {
  list-style-type: none;
}

.default-link {
  color: $blue;
  font-size: 0.95rem;
  padding: 0;
  
  &:hover {
    color: $blue;
    border-bottom: $blue solid 1px;
    margin-top: 1px;
  }
}
