@media(min-width: 1600px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 25px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    position: relative;
    right: 25px;
  }
}

@media(max-width: 1500px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 700px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 425px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 40px;
  }
}

@media(max-width: 1400px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 700px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 50px;
  }
}

@media(max-width: 1366px) {
  .gradient-scope .margin {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media(max-width: 1300px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 650px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 400px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 0px;
  }
}

@media(max-width: 1200px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 600px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 300px;
  }
}

@media(max-width: 1100px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 500px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 200px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 300px;
  }
}

@media(max-width: 1024px) {
  .gradient-scope .margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media(max-width: 1000px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 750px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    right: 600px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 325px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 400px;
    right: 25px;
  }

  main .margin .features {
    flex-direction: column;
  
    .feature-1 {      
      flex-direction: row;
      width: 550px;
      align-items: center;

      .image {
        width: 275px;
      }

      .description {  
        bottom: 0;
        left: 50px;
      }
    }
    
    .feature-2 {      
      flex-direction: row-reverse;
      width: 550px;
      align-items: center;

      .image {
        position: relative;
        width: 450px;
        left: 50px;
      }

      .description {  
        bottom: 0;
        left: 0;
      }
    }
    
    .feature-3 {      
      flex-direction: row;
      width: 550px;
      align-items: center;

      .description {  
        bottom: 0;
        left: 70px;
      }
    }
  }

  main .margin .gradient-scope .example-pages .mobile {
    position: absolute;
    top: 1940px;
  }

  main .margin .gradient-scope .example-pages .desktop {
    right: 0;
    left: 67px;
  }
}

@media(max-width: 800px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 550px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 300px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 400px;
    right: 0px;
  }

  main .margin .gradient-scope .example-pages .mobile {
    height: 370px;
    top: 1875px;

    div img {
      width: 200px;
      height: 235px;
    }

    .mobile-people-info {
      width: 200px;
      box-shadow: 0px -15px 26px 1px #000000;
      
      div.m-2 {
        p.name {
          font-size: 0.6rem;
          bottom: 38px;
        }
  
        p.profession {
          font-size: 0.5rem;
          bottom: 37px
        }

        button {
          padding-bottom: 3px;
          padding-top: 3px;
          font-size: 0.6rem;
          bottom: 42px;
        }

        p,
        div div .label {
          font-size: 0.6rem;
        }

        div img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  main .margin .gradient-scope .example-pages .desktop {
    height: 375px;

    div img.desk-image {
      width: 300px;
      height: 375px;
    }
  }
}

@media(max-width: 750px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    width: 160px;
    height: 225px;
    right: 400px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 160px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 200px;
    height: 300px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 200px;
    height: 300px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 300px;
    height: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 img {
    width: 300px;
    height: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 button {
    left: 115px;
  }

  main .margin .gradient-scope .example-pages .desktop {
    left: 35px;
  }
}

@media(max-width: 660px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    width: 160px;
    height: 225px;
    right: 400px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 160px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 200px;
    height: 300px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 200px;
    height: 300px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 img {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 button {
    left: 75px;
  }
}

@media(max-width: 576px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 675px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    width: 150px;
    height: 225px;
    right: 375px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 150px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 175px;
    height: 275px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 175px;
    height: 275px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 2px;
  }

  main .margin .features {
    .feature-1 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .image {
        width: 275px;
      }

      .description {  
        bottom: 25px;
        left: 0px;
      }
    }
    
    .feature-2 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .image {
        position: none;
        width: unset;
        left: 0px;
      }

      .description {  
        bottom: 25px;
        left: 0;
      }
    }
    
    .feature-3 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .description {  
        bottom: 0;
        left: 0px;
      }
    }
  }

  main .margin .gradient-scope .example-pages .mobile {
    height: 284px;
    top: 2135px;
    left: 5px;

    div img {
      width: 150px;
      height: 190px;
    }

    .mobile-people-info {
      width: 150px;
      bottom: 75px;

      div.m-2 {
        p.name {
          font-size: 0.5rem;
        }

        p.profession {
          font-size: 0.4rem;
        }

        button {
          padding-bottom: 0;
          padding-top: 0;
          font-size: 0.5rem;
          bottom: 42px;
        }

        p {
          font-size: 0.4rem;
        }

        div div .label {
          font-size: 0.5rem;
        }
      }
    }
  }

  main .margin .gradient-scope .example-pages .desktop {
    width: 510px;
    left: 20px;
  }
}

@media(max-width: 500px) {
  .gradient-scope nav.navbar .navbar-nav .nav-item a.get-page-small {
    display: none;
  }

  .gradient-scope .banner-top .text-area h1 {
    font-size: 2rem;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    right: 300px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 175px;
  }
}