@media(min-width: 1600px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 25px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    position: relative;
    right: 25px;
  }
}

@media(max-width: 1200px) {
  .gradient-scope {
    .margin {
      margin-left: 25px;
      margin-right: 25px;
    
      .banner-top {
        .image-area {
          .profile-1 {
            right: 550px;
          }

          .profile-2 {
            right: 300px;
          }

          .profile-3 {
            right: 0;
          }
        }
      }
    }
  } 
}

@media(max-width: 992px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 750px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    right: 600px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 325px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 400px;
    right: 25px;
  }

  main .margin .features {
    flex-direction: column;
  
    .feature-1 {      
      flex-direction: row;
      width: 550px;
      align-items: center;

      .image {
        width: 275px;
      }

      .description {  
        bottom: 0;
        left: 50px;
      }
    }
    
    .feature-2 {      
      flex-direction: row-reverse;
      width: 550px;
      align-items: center;

      .image {
        position: relative;
        width: 450px;
        left: 50px;
      }

      .description {  
        bottom: 0;
        left: 0;
      }
    }
    
    .feature-3 {      
      flex-direction: row;
      width: 550px;
      align-items: center;

      .description {  
        bottom: 0;
        left: 70px;
      }
    }
  }

  main .margin .gradient-scope .example-pages .mobile {
    position: absolute;
    top: 1940px;
  }

  main .margin .gradient-scope .example-pages .desktop {
    right: 0;
    left: 67px;
  }
}

@media(max-width: 768px) {
  .gradient-scope {
    .margin {
      .banner-top {
        .image-area {
          .profile-1 {
            right: 550px;
          }

          .profile-2 {
            right: 300px;
          }

          .profile-3 {
            right: 0;
            width: 400px;
          }
        }
      }
    }
  }

  main {
    .margin {
      .gradient-scope {
        .example-pages {
          .mobile {
            height: 315px;
            top: 1928px;
            left: 10px;

            div {
              img {
                width: 200px;
                height: 235px;
              }
            } 
        
            .mobile-people-info {
              width: 200px;
              box-shadow: 0px -15px 26px 1px #000000;
              
              div.m-2 {
                p.name {
                  font-size: 0.5rem;
                  bottom: 38px;
                }
          
                p.profession {
                  font-size: 0.4rem;
                  bottom: 37px
                }
        
                button {
                  padding-bottom: 3px;
                  padding-top: 3px;
                  font-size: 0.5rem;
                  bottom: 42px;
                }
        
                p,
                div div .label {
                  font-size: 0.5rem;
                }
        
                div img {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }

          .desktop {
            height: 375px;

            div {
              img.desk-image {
                width: 300px;
                height: 375px;
              }
            } 
          }
        }
      }
    }
  }
}

@media(max-width: 576px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 675px;
  }

  .gradient-scope .margin .banner-top .image-area .profile-1 {
    width: 150px;
    height: 225px;
    right: 375px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 150px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    font-size: 0.7rem;
  }

  .gradient-scope .margin .banner-top .image-area .profile-2 {
    width: 175px;
    height: 275px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 175px;
    height: 275px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 15px;
    font-size: 0.8rem;
  }

  .gradient-scope .margin .banner-top .image-area .profile-3 {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 img {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 button {
    font-size: 0.9rem;
    left: 80px;
  }

  main .margin .features {
    .feature-1 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .image {
        width: 275px;
      }

      .description {  
        bottom: 25px;
        left: 0px;
      }
    }
    
    .feature-2 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .image {
        position: none;
        width: unset;
        left: 0px;
      }

      .description {  
        bottom: 25px;
        left: 0;
      }
    }
    
    .feature-3 {      
      flex-direction: column;
      width: 300px;
      align-items: center;

      .description {  
        bottom: 0;
        left: 0px;
      }
    }
  }

  main .margin .gradient-scope .example-pages .mobile {
    height: 284px;
    top: 2135px;
    left: 5px;

    div img {
      width: 150px;
      height: 190px;
    }

    .mobile-people-info {
      width: 150px;
      bottom: 75px;

      div.m-2 {
        p.name {
          font-size: 0.5rem;
        }

        p.profession {
          font-size: 0.4rem;
        }

        button {
          padding-bottom: 0;
          padding-top: 0;
          font-size: 0.5rem;
          bottom: 42px;
        }

        p {
          font-size: 0.4rem;
        }

        div div .label {
          font-size: 0.5rem;
        }
      }
    }
  }

  main .margin .gradient-scope .example-pages .desktop {
    width: 510px;
    left: 20px;
  }
}
