@import "../variables";
@import "./small";
@import "./medium";

.background {
  width: 100%;
  height: 100vh;
}

.blue-background {
  background: linear-gradient(135deg, #305B90 0%, #305B90 30%, #529bf5 100%);
}

.pink-background {
  background: linear-gradient(135deg, #D31996 0%, #D31996 30%, #ff2bff 100%);
}

.purple-background {
  background: linear-gradient(135deg, #6C45C4 0%, #6C45C4 30%, #b875ff 100%);
}

.orange-background {
  background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%);
}

.green-background {
  background: linear-gradient(135deg, #34731A 0%, #34731A 30%, #58c42c 100%);
}

.dark_gray-background {
  background: linear-gradient(135deg, #4A4A4A 0%, #4A4A4A 30%, #7e7e7e 100%);
}

.photo {
  border-radius: 50%;
  width: 150px;
  height: auto;
  position: relative;
  bottom: 80px;
}

.full-name {
  font-size: 1.5rem;
  color: $dark-text-color;
  font-weight: bold;
}

.occupations {
  font-size: 1.2rem;
  color: $dark-text-color;
  font-weight: bold;
}

.reason-button {
  width: 330px;
}

.summary {
  text-align: center;
  color: $default-text-color;
}
