@import '../variables';

.signup-form-area {
  background-color: white;
  position: relative;
  top: 100px;
  height: 425px;
  width: 400px;
  padding: 20px;
  border-radius: 5px;

  .step-description {
    font-size: 1.2rem;
    color: $blue-2;
  }

  form {
    height: 250px;

    .signup-email-field {
      text-align: center;
    }

    .signup-instructions {
      position: relative;
      bottom: 45px;
      font-size: 0.8rem;
      color: $dark-text-color;
    }

    .signup-name-instructions {
      bottom: 15px;
    }

    .signup-instructions-two {
      bottom: 0;
      font-size: 1rem;
    }

    .selected-item,
    .selected-item:active {
      border-style: dashed;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      height: 35px;
      min-width: 60px;
      max-width: 125px;
      font-size: 0.9rem;

      &:hover {
        background-color: white;
      }
    }

    .increase-max-width {
      max-width: 175px;
    }

    .centralize-input {
      position: relative;
      bottom: 35px;
    }

    #preview-picture {
      max-width: 225px;
    }
  }

  .big-form {
    height: 475px;
  }
}

.big-signup-form-area {
  width: 580px;
  height: 650px;
  top: 10px;
}

.add-photo-signup-form-area {
  height: 610px;
  top: 30px;
}

.position-bottom {
  position: relative;
  top: 100px;
}

.width-165 {
  width: 165px;
}

.hide {
  display: none;
}
