<section class="signup-form-area big-signup-form-area m-auto">
  <header class="d-flex flex-column align-items-center pt-5">
    <%= image_tag 'suitcase_icon.svg', size: '25x25' %>
    <h2 class="step-description pt-1">What do you do?</h2>
  </header>
  <%= form_with url: '/next_signup_step/6', class: 'big-form d-flex flex-column align-items-center justify-content-between' do |f| %>
    <p class="signup-instructions signup-instructions-two">Choice of one to three occupations/hobbies.</p>
    <ul class="w-100 d-flex justify-content-center flex-wrap overflow-auto px-1">
      <% Occupation.pluck(:occupation).each do |occupation| %>
        <li item-to-select class="select-button btn btn-outline-primary my-1 ml-1" %>
          <%= occupation %>
        </li>
      <% end %>
    </ul>
    <ul id="selected-items" class="w-100 d-flex justify-content-around px-1">
      <li class="selected-item selected-occupation select-button btn btn-outline-primary px-1"></li>
      <li class="selected-item selected-occupation select-button btn btn-outline-primary px-1"></li>
      <li class="selected-item selected-occupation select-button btn btn-outline-primary px-1"></li>
    </ul>
    <%= f.submit 'Next >', class: 'next-step-button btn w-75', disabled: true %>
  <% end %>
</section>
