<div class="features col-11 m-auto">
  <div class="feature feature-1">
    <div class="image">
      <%= image_tag 'professional_domains.svg', size: '225x225' %>
      <button class="feature-button btn d-flex p-2 w-100" disabled>https://<p class="mb-0">yourname.com</p></button>
    </div>
    <div class="description">
      <h1 class="feature-title h5">Professional domains</h1>
      <p class="feature-text">Add a custom domain to your page.</p>
      <p class="feature-text">Or, map one you already own.</p>
    </div>
  </div>
  <div class="feature feature-2">
    <div class="image">
      <%= image_tag 'spotlight_button.svg', size: '225x225' %>
      <button class="feature-button btn d-flex py-2 px-4" disabled>Sign up for my newsletter</button>
    </div>
    <div class="description">
      <h1 class="feature-title h5">Spotlight button</h1>
      <p class="feature-text">Make it easy for your audience to take action on what is most important.</p>
      <p class="feature-text"></p>
    </div>
  </div>
  <div class="feature feature-3">
    <%= image_tag 'unique_link.svg', size: '225x225' %>
    <div class="description">
      <h1 class="feature-title h5 pt-3">One link for everything you do</h1>
      <p class="feature-text">Use your link everywhere, online and offline, to promote yourself.</p>
      <p class="feature-text"></p>
    </div>
  </div>
</div>
