<footer class="homepage-footer d-flex pt-4 pb-5">
  <div class="d-flex justify-content-between w-50">
    <section class="footer-logo">
      <p>my.homepage</p>
    </section>
    <section class="footer-page-links">
      <ul>
        <li><a href="/examples" class="default-link">Examples</a></li>
        <li><a href="#" class="default-link">Pricing</a></li>
        <li><a href="#" class="default-link">Email Signature</a></li>
        <li><a href="#" class="default-link">Side Hustlers</a></li>
      </ul>
    </section>
    <section class="footer-useful-links">
      <ul>
        <li><a href="#" class="default-link">Blog</a></li>
        <li><a href="#" class="default-link">Press</a></li>
        <li><a href="#" class="default-link">Privacy Policy</a></li>
        <li><a href="#" class="default-link">Legal</a></li>
      </ul>
    </section>
  </div>
  <section class="footer-social-media w-50">
    <p class="copyright">© 2020 my.homepage™</p>
    <a href="#" class="mx-sm-4 mb-3 mb-sm-0"><%= image_tag 'twitter_only_bird_icon.svg', size: '20x20' %></a>
    <a href="#"><%= image_tag 'medium_icon.svg', size: '20x20' %></a>
  </section>
</footer>
