<header>
  <nav class="navbar navbar-expand py-5">
    <a class="navbar-brand" href="#">about.me</a>
    <ul class="navbar-nav w-100 d-flex justify-content-end align-items-center mr-3">
      <li class="nav-item">
        <a class="default-link common nav-link p-0 mx-2" href="/users/examples">Examples</a>
      </li>
      <li class="nav-item">
        <a class="default-link common nav-link p-0 mx-2" href="#">Log in</a>
      </li>
      <li class="nav-item ml-0 ml-sm-3 mr-0 mr-sm-1 mr-md-3">
        <%= link_to('Get your free page', new_users_registration_path, class: 'nav-link py-1 px-2 get-page-small' ) %>
      </li>
    </ul>
  </nav>
</header>
