<section class="signup-form-area m-auto">
  <div class="progress" style="height: 6px">
    <div class="progress-bar" role="progressbar" aria-valuenow="o" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <header class="d-flex flex-column align-items-center pt-5">
    <%= image_tag 'mail_icon.svg' %>
    <h2 class="step-description pt-1">Sign up with your email</h2>
  </header>
  <%= form_with url: users_registrations_path, class: 'd-flex flex-column align-items-center justify-content-between' do |f| %>
    <input type="hidden" name="step" value="2" />
    <%= f.email_field :email, placeholder: 'Enter your email address', required: true, class: 'signup-email-field w-100 mt-4 py-3 form-control' %>
    <p class="signup-instructions signup-email-instructions">
      We will not share or display your email address.
    </p>
    <% unless @valid %>
      <p class="signup-instructions-two red">
        This email is already in use.
      </p>
    <% end %>
    <%= f.submit 'Next >', class: 'next-step-button btn w-100' %>
  <% end %>
</section>
