@import './variables';

.big-register-button {
  color: white;
  font-weight: bold;
  background: $blue-gradient-1;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
  border: none;
  padding: 15px 0;

  &:active {
    border: white 1px solid;
    padding: 14px 0;
  }

  &:hover {
    background: $blue-gradient-2;
    color: white;
  }
}

.social-media-create-account {
  button {
    background-color: white;
    font-size: 0.9rem;
  }
}

.example-pages-button {
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  background-color: #3e9fb1;
  border-radius: 0;

  &:hover {
    color: white;
  }
}

.feature-button {
  font-weight: bold;
  position: relative;
  bottom: 50px;
}

.next-step-button {
  color: white;
  background-color: $blue-2;

  &:hover {
    color: white;
    background-color: $blue;
  }
}

.select-interest-button,
.select-interest-button:active {
  color: $blue-2;
  border-color: $blue-2;
  background-color: white;

  &:hover {
    background-color: $very-light-blue;
    color: $blue-2;
  }
}
