$logo-color: #0e5786;
$navbar-items-color: #0e5786;
$small-get-page-button-bc: #0e5786;
$small-get-page-button-bc-hover: #286a96;
$big-get-page-button-bc: linear-gradient(180deg,#26abd8,#1677b6);
$big-get-page-button-bc-hover: linear-gradient(180deg,#43b4da,#2c81b9);
$main-gradient: linear-gradient(-225deg,rgba(48,35,174,.4),rgba(83,160,253,.4) 30%,rgba(180,236,81,.4)); 
$text-color-for-text-area: rgb(63, 63, 63);