// Colors
$very-light-blue: #F3F8FB;
$light-blue: #286a96;
$blue: #0e5786;
$blue-2: #0a84d0;
$dark-blue: #305B90;
$pink: #D31996;
$purple: #6C45C4;
$orange: #F76B1D;
$green: #34731A;
$dark-gray: #4A4A4A;
$light-gray: rgb(145, 145, 145);
$light-gray2: rgb(199, 199, 199);
$very-light-gray: #FDFDFC;
$red: #D92626;

$blue-gradient-1: linear-gradient(180deg,#26abd8,#1677b6);
$blue-gradient-2: linear-gradient(180deg,#43b4da,#2c81b9);
$main-gradient: linear-gradient(-225deg,rgba(48,35,174,.4),rgba(83,160,253,.4) 30%,rgba(180,236,81,.4)); 

$dark-text-color: $dark-gray;
$default-text-color:#717171;
$light-text-color: $light-gray;

// Box shadows
$default-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
