@import './colors';

.gradient-scope {
  background: $main-gradient;

  .margin {
    margin-left: 100px;
    margin-right: 100px;
    width: 1400px;
  }

  header {
    nav.navbar {
      .navbar-brand {
        font-size: 18px;
        font-weight: bold;
        color: $logo-color;
      }
      
      .navbar-brand:hover {
        color: $logo-color;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $navbar-items-color;
            font-size: 0.95rem;
            padding: 0;
          }
          
          .common.nav-link:hover {
            color: $navbar-items-color;
            border-bottom: $navbar-items-color solid 1px;
            margin-top: 1px;
          }
          
          a.get-page-small {
            color: white;
            font-weight: bold;
            background-color: $small-get-page-button-bc;
            border-radius: 5px;
            transition-property: background-color;
            transition-duration: 0.2s;
          }
          
          a.get-page-small:hover {
            color: white;
            background-color: $small-get-page-button-bc-hover;
          }
        }
      }
    } 
  }

  .banner-top {
    .text-area {
      z-index: 2;

      h1 {
        font-weight: bold;
        color: $text-color-for-text-area;
      }

      .content-area {
        p {
          color: $text-color-for-text-area;
        }
  
        button.w-100 {
          color: white;
          font-weight: bold;
          background: $big-get-page-button-bc;
          box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
          border: none;
          padding: 15px 0;
        }

        button.w-100:active {
          border: white 1px solid;
          padding: 14px 0;
        }

        button.w-100:hover {
          background: $big-get-page-button-bc-hover;
        }

        .social-media-create-account {
          button {
            background-color: white;
            font-size: 0.9rem;
          }
        }
      }
    }

    .image-area {
      margin-top: 550px;

      .profile-1 {
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
        width: 220px;
        height: 325px;
        position: absolute;
        right: 800px;
        
        button {
          position: relative;
          left: 33px;
          bottom: 65px;
          opacity: initial;
          font-weight: bold;
        }
      }
      
      .profile-2 {
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
        width: 300px;
        height: 450px;
        position: absolute;
        right: 525px;
        z-index: 1;

        button {
          position: relative;
          left: 65px;
          bottom: 65px;
          opacity: initial;
          font-weight: bold;
        }
      }   
      
      .profile-3 {
        box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
        width: 400px;
        height: 550px;
        position: absolute;
        right: 150px;
        overflow: hidden;

        button {
          position: relative;
          left: 163px;
          bottom: 65px;
          opacity: initial;
          font-weight: bold;
        }
      }
    }
  }
}

main {
  .margin {
    .features {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .feature-1 {
        width: 275px;
        display: flex;
        flex-direction: column;

        button {
          border: 2px solid rgb(206, 206, 206);
          color: rgb(177, 177, 177);
          font-weight: bold;
          opacity: initial;
          position: relative;
          bottom: 50px;
          
          p {
            color: rgb(48, 107, 156)
          }
        }

        .description {
          position: relative;
          bottom: 25px;

          h1 {
            text-align: center;
          }

          p {
            color: rgb(145, 145, 145);
            text-align: center;
            margin-bottom: 0;
          }
        }
      }

      .feature-2 {
        width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          opacity: initial;
          font-weight: bold;
          color: white;
          background: linear-gradient(180deg,#45b3d8,#277db6);
          position: relative;
          bottom: 50px;
        }

        .description {
          position: relative;
          bottom: 25px;

          h1 {
            text-align: center;
          }

          p {
            color: rgb(145, 145, 145);
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
      
      .feature-3 {
        width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
          position: relative;
          bottom: 10px;

          h1 {
            text-align: center;
          }

          p {
            color: rgb(145, 145, 145);
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }

    .examples-link {
      color: $examples-link-color;
      font-size: 1.3rem;
      padding: 0;
      text-decoration: none;
      padding-bottom: 1px;
    }

    .examples-link:hover {
      border-bottom: $examples-link-color solid 1px;
      padding-bottom: 0px;
    }

    .gradient-scope {
      height: 725px;
      width: 100%;
      margin-top: 200px;

      .example-pages {
        .mobile {
          position: relative;
          bottom: 75px;
          left: 35px;
          height: 470px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          overflow: hidden;
          z-index: 1;

          div {
            img {
              border-top-left-radius: 25px;
              border-top-right-radius: 25px;
            }
          }
        
          .mobile-people-info {
            background-color: white;
            width: 100%;
            height: 250px;
            width: 275px;
            position: relative;
            bottom: 100px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            box-shadow: 0px 20px 35px 52px #000000;

            div {
              p.name {
                position: relative;
                bottom: 45px;
                text-align: center;
                color: white;
                font-size: 0.9rem;
              }

              p.profession {
                position: relative;
                bottom: 48px;
                text-align: center;
                color: white;
                font-size: 0.7rem;
              }

              button {
                opacity: initial;
                font-size: 0.7rem;
                font-weight: bold;
                color: white;
                background-color: #3e9fb1;
                border-radius: 0;
                position: relative;
                bottom: 50px;
              }

              p {
                font-size: 0.7rem;
                color: rgb(59, 59, 59);
                margin-bottom: 0;
                position: relative;
                bottom: 50px;
              }

              div {
                div {
                  .label {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: rgb(175, 175, 175);
                    position: relative;
                    bottom: 50px;
                  }
                }
              }

              div.mt-2 {
                position: relative;
                bottom: 50px;
              }
            }
          }
        }

        .desktop {
          position: relative;
          bottom: 150px;
          right: 40px;
          height: 550px;
          box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.25);
          border-radius: 25px;

          div {
            img {
              border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
            }
          }

          .desk-people-info {
            background-color: white;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            width: 300px;
            height: 100%;
            position: relative;

            div {
              p.name {
                font-size: 0.8rem;
              }

              p {
                font-size: 0.7rem;
                color: rgb(59, 59, 59);
                margin-bottom: 0;
              }

              button {
                opacity: initial;
                font-size: 0.7rem;
                font-weight: bold;
                color: white;
                background-color: #3e9fb1;
                border-radius: 0;
              }

              div {
                div {
                  .label {
                    font-size: 0.7rem;
                    margin-bottom: 0;
                    color: rgb(175, 175, 175);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}