@media(min-width: 1600px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 25px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    position: relative;
    right: 0px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    position: relative;
    right: 25px;
  }
}

@media(max-width: 1500px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 700px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 425px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 40px;
  }
}

@media(max-width: 1400px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 700px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 50px;
  }
}

@media(max-width: 1366px) {
  .gradient-scope .margin {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media(max-width: 1300px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 650px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 400px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    right: 0px;
  }
}

@media(max-width: 1200px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 600px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 300px;
  }
}

@media(max-width: 1100px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 500px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 200px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 300px;
  }
}

@media(max-width: 1024px) {
  .gradient-scope .margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media(max-width: 1000px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 750px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    right: 600px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 325px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 400px;
    right: 25px;
  }
}

@media(max-width: 800px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    right: 550px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 300px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 400px;
    right: 0px;
  }
}

@media(max-width: 750px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    width: 160px;
    height: 225px;
    right: 400px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 160px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 200px;
    height: 300px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 200px;
    height: 300px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 300px;
    height: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 img {
    width: 300px;
    height: 450px;
  }

  .gradient-scope .banner-top .image-area .profile-3 button {
    left: 115px;
  }
}

@media(max-width: 660px) {
  .gradient-scope .banner-top .image-area .profile-1 {
    width: 160px;
    height: 225px;
    right: 400px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 160px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 200px;
    height: 300px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 200px;
    height: 300px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-3 {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 img {
    width: 250px;
    height: 350px;
  }

  .gradient-scope .banner-top .image-area .profile-3 button {
    left: 75px;
  }
}

@media(max-width: 576px) {
  .gradient-scope .banner-top .image-area {
    margin-top: 675px;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    width: 150px;
    height: 225px;
    right: 375px;
  }
  
  .gradient-scope .banner-top .image-area .profile-1 img {
    width: 150px;
    height: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-1 button {
    left: 15px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    width: 175px;
    height: 275px;
    right: 225px;
  }

  .gradient-scope .banner-top .image-area .profile-2 img {
    width: 175px;
    height: 275px;
  }
  
  .gradient-scope .banner-top .image-area .profile-2 button {
    left: 2px;
  }
}

@media(max-width: 500px) {
  .gradient-scope nav.navbar .navbar-nav .nav-item a.get-page-small {
    display: none;
  }

  .gradient-scope .banner-top .text-area h1 {
    font-size: 2rem;
  }

  .gradient-scope .banner-top .image-area .profile-1 {
    right: 300px;
  }

  .gradient-scope .banner-top .image-area .profile-2 {
    right: 175px;
  }
}