@import './buttons';

@import './home/home';
@import './home/home_media_queries';

@import './sign_up/sign_up';

@import './examples/examples';

.blue,
.blue:hover {
  background-color: $dark-blue;
}

.pink,
.pink:hover {
  background-color: $pink;
}

.purple,
.purple:hover {
  background-color: $purple;
}

.orange,
.orange:hover {
  background-color: $orange;
}

.green,
.green:hover {
  background-color: $green;
}

.dark-gray,
.dark-gray:hover {
  background-color: $dark-gray;
}
