@import './buttons';

@import './home/home';
@import './home/home_media_queries';

@import './sign_up/sign_up';

.blue {
  background-color: $dark-blue;
}

.pink {
  background-color: $pink;
}

.purple {
  background-color: $purple;
}

.orange {
  background-color: $orange;
}

.green {
  background-color: $green;
}

.dark-gray {
  background-color: $dark-gray;
}
